<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngch.pat.mapper.PayConfigMapper">
  <resultMap id="BaseResultMap" type="com.youngch.pat.model.PayConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotel_id" jdbcType="VARCHAR" property="hotelId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="wxpay_mch_id" jdbcType="VARCHAR" property="wxpayMchId" />
    <result column="cert_local_path" jdbcType="VARCHAR" property="certLocalPath" />
    <result column="wxpay_app_key" jdbcType="VARCHAR" property="wxpayAppKey" />
    <result column="private_key" jdbcType="VARCHAR" property="privateKey" />
    <result column="public_key" jdbcType="VARCHAR" property="publicKey" />
    <result column="alipay_public_key" jdbcType="VARCHAR" property="alipayPublicKey" />
    <result column="gate_way_url" jdbcType="VARCHAR" property="gateWayUrl" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hotel_id, app_id, wxpay_mch_id, cert_local_path, wxpay_app_key, private_key, 
    public_key, alipay_public_key, gate_way_url, body, subject, notify_url, pay_type
  </sql>
  <select id="selectByExample" parameterType="com.youngch.pat.model.PayConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.youngch.pat.model.PayConfigExample">
    delete from pay_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.youngch.pat.model.PayConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_config (hotel_id, app_id, wxpay_mch_id, 
      cert_local_path, wxpay_app_key, private_key, 
      public_key, alipay_public_key, gate_way_url, 
      body, subject, notify_url, 
      pay_type)
    values (#{hotelId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{wxpayMchId,jdbcType=VARCHAR}, 
      #{certLocalPath,jdbcType=VARCHAR}, #{wxpayAppKey,jdbcType=VARCHAR}, #{privateKey,jdbcType=VARCHAR}, 
      #{publicKey,jdbcType=VARCHAR}, #{alipayPublicKey,jdbcType=VARCHAR}, #{gateWayUrl,jdbcType=VARCHAR}, 
      #{body,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{payType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youngch.pat.model.PayConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotelId != null">
        hotel_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="wxpayMchId != null">
        wxpay_mch_id,
      </if>
      <if test="certLocalPath != null">
        cert_local_path,
      </if>
      <if test="wxpayAppKey != null">
        wxpay_app_key,
      </if>
      <if test="privateKey != null">
        private_key,
      </if>
      <if test="publicKey != null">
        public_key,
      </if>
      <if test="alipayPublicKey != null">
        alipay_public_key,
      </if>
      <if test="gateWayUrl != null">
        gate_way_url,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="notifyUrl != null">
        notify_url,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotelId != null">
        #{hotelId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="wxpayMchId != null">
        #{wxpayMchId,jdbcType=VARCHAR},
      </if>
      <if test="certLocalPath != null">
        #{certLocalPath,jdbcType=VARCHAR},
      </if>
      <if test="wxpayAppKey != null">
        #{wxpayAppKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null">
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null">
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="alipayPublicKey != null">
        #{alipayPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="gateWayUrl != null">
        #{gateWayUrl,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.youngch.pat.model.PayConfigExample" resultType="java.lang.Long">
    select count(*) from pay_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pay_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hotelId != null">
        hotel_id = #{record.hotelId,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.wxpayMchId != null">
        wxpay_mch_id = #{record.wxpayMchId,jdbcType=VARCHAR},
      </if>
      <if test="record.certLocalPath != null">
        cert_local_path = #{record.certLocalPath,jdbcType=VARCHAR},
      </if>
      <if test="record.wxpayAppKey != null">
        wxpay_app_key = #{record.wxpayAppKey,jdbcType=VARCHAR},
      </if>
      <if test="record.privateKey != null">
        private_key = #{record.privateKey,jdbcType=VARCHAR},
      </if>
      <if test="record.publicKey != null">
        public_key = #{record.publicKey,jdbcType=VARCHAR},
      </if>
      <if test="record.alipayPublicKey != null">
        alipay_public_key = #{record.alipayPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="record.gateWayUrl != null">
        gate_way_url = #{record.gateWayUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null">
        body = #{record.body,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyUrl != null">
        notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pay_config
    set id = #{record.id,jdbcType=INTEGER},
      hotel_id = #{record.hotelId,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      wxpay_mch_id = #{record.wxpayMchId,jdbcType=VARCHAR},
      cert_local_path = #{record.certLocalPath,jdbcType=VARCHAR},
      wxpay_app_key = #{record.wxpayAppKey,jdbcType=VARCHAR},
      private_key = #{record.privateKey,jdbcType=VARCHAR},
      public_key = #{record.publicKey,jdbcType=VARCHAR},
      alipay_public_key = #{record.alipayPublicKey,jdbcType=VARCHAR},
      gate_way_url = #{record.gateWayUrl,jdbcType=VARCHAR},
      body = #{record.body,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.youngch.pat.model.PayConfig">
    update pay_config
    <set>
      <if test="hotelId != null">
        hotel_id = #{hotelId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="wxpayMchId != null">
        wxpay_mch_id = #{wxpayMchId,jdbcType=VARCHAR},
      </if>
      <if test="certLocalPath != null">
        cert_local_path = #{certLocalPath,jdbcType=VARCHAR},
      </if>
      <if test="wxpayAppKey != null">
        wxpay_app_key = #{wxpayAppKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null">
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null">
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="alipayPublicKey != null">
        alipay_public_key = #{alipayPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="gateWayUrl != null">
        gate_way_url = #{gateWayUrl,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youngch.pat.model.PayConfig">
    update pay_config
    set hotel_id = #{hotelId,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      wxpay_mch_id = #{wxpayMchId,jdbcType=VARCHAR},
      cert_local_path = #{certLocalPath,jdbcType=VARCHAR},
      wxpay_app_key = #{wxpayAppKey,jdbcType=VARCHAR},
      private_key = #{privateKey,jdbcType=VARCHAR},
      public_key = #{publicKey,jdbcType=VARCHAR},
      alipay_public_key = #{alipayPublicKey,jdbcType=VARCHAR},
      gate_way_url = #{gateWayUrl,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>